body {
  font-size: 16px;
  color: #fff;
  background-color: #A653EE;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #4B256B;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #C498EB;
  font-size: 2.0em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-decoration: none;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #A653EE;
  text-align: center;
}
#nav-list a:hover{
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggler, .navbar-header .icon-bar {
  border: 1px solid #BD2FFA;
}
.navbar-header button.navbar-toggler {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav a span {
  margin-right: 5px;
}

/*HOME PAGE*/
.container .jumbotron {
  margin-top: 30px;
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
  padding: 0;
}
.container h1 {
  text-align: center;
  color: #4F2661;
  margin-bottom: 30px;
}


.menu{
  background-color: #4F2661;
  border: 1px solid #000;
  width: 100%;  
  overflow: hidden;
  margin: 5px;
}
.menu h2 {
  text-align: center;
  color: #D09EE6;
  font-size: 1.5em;
  margin-top: 5px;
}

.menu p {
  margin: 10px 10px 5px ;
}

/*MEDIA*/
/*small(sm)*/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw; /*1vw = 1% of viewpoint width*/
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    height: 20px;
  }
}
/*extreme small(xs)*/
@media (max-width: 576px) {
  /*HEADER*/
  #navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
}